<kendo-card [style]="'width:100%'">
    <kendo-card-body> 
        <div class="card-Header-bm">    
             <div class="row-bm">
                 
            </div> 
        </div>  
        
    <kendo-dialog title="Edit Config" *ngIf="opened" (close)="closedialog('cancel')" [minWidth]="250" [width]="600"
     [height]="350">
     <form [formGroup]="editAddForm" (ngSubmit)="formSearch()">

         <div class="rowData">
             <!-- <span class="colData"> -->
                 <label>Name:</label>
                 <kendo-textbox class="textBox" formControlName="name"></kendo-textbox>
                </div><br><br>
             <!-- </span>
             <span class="colData"> -->
                <div class="rowData">
                 <label>Value:</label>
                 <kendo-textbox class="textBox" formControlName="value"></kendo-textbox>
                </div><br><br>
             <!-- </span>
                
             <span class="colData"> -->
                <div class="rowData">
                 <label>Description:</label>
                 <kendo-textarea class="textBox" formControlName="description"></kendo-textarea>
             <!-- </span> -->
         </div>
        
         
         <br><br><br>
         <div class="rowData">
            
                 <button kendoButton [look]="'default'"
                     style="background: #17A2B8; color: white;width: 69px;   height: 28px;    border-radius: 5px; width: 80px;"
                     type="submit">Save</button>
             
         </div>
     </form>
 </kendo-dialog>
      
    <app-spin-loader *ngIf="showLoading && !errorMessage"></app-spin-loader>
        
       <div *ngIf="!showLoading && !errorMessage">
        <kendo-grid [data]="gridView"  [pageSize]="pageSize" [skip]="skip" [pageable]="true"
        (pageChange)="pageChange($event)" [height]="windowHeight"  >    
        <kendo-grid-column  field="Name" title="Name" width= "6%" [headerStyle]="headerStyle">
        </kendo-grid-column>
        <kendo-grid-column  field="Value" title="Value"  width= "6%" [headerStyle]="headerStyle">
        </kendo-grid-column>
        <kendo-grid-column  field="Description" title="Description" width="12%" [headerStyle]="headerStyle">
        </kendo-grid-column>
        
        <kendo-grid-column  title="Action" width="10%" [headerStyle]="headerStyle">
            <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                <div kendoTooltip>
                    <button kendoButton *ngIf="!opened" [look]="'default'"
                    style="background: #92D050; color: white " (click)="opendialog()" title="Edit"> 
                    <kendo-icon class="k-i-track-changes k-icon-48" [themeColor]="'#292b2d'" ></kendo-icon></button>
            
                </div>
                 
             </ng-template>
        </kendo-grid-column>
    </kendo-grid>
     
       </div>
        <div class="k-fab-error alert-error" *ngIf="errorMessage && !showLoading">
           <h6>Error Code: {{errorCode}}</h6>
           <p>{{errorMessage}}</p>
           
        
     </div> 
    </kendo-card-body>
</kendo-card>

