.main-loader{
    
    width: 100%;
    height: 100%;
    min-height: 300px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    background:  rgb(255, 255, 255);
    
    box-sizing: border-box;
}

.loader-content{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}