.k-form {
  width: 97%;
  padding-left: 21px;
  padding-right: 10px;
  font-size: 16px;
  margin-top: 28px;
}

kendo-label {
  margin-bottom: 4px;
  display: inline-table;
  flex-flow: column;
  width: inherit;
  width: 49%;
  margin-right: 10px;
  margin-top: 11px;
}

kendo-card {
  margin-left: 5px;
}

.actionbutton {
  float: right;
  position: relative;
  margin-top: 37.2%;
  margin-bottom: 1%;
  left: 1%;
}

.k-checkbox:checked {
  border-color: #ee3423;
  color: #fff;
  background-color: #ee3423;
}
.permission-Heder {
	background-color: #e23328;
	color: white;
	text-align: center;
}
.k-checkbox {
  border-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0);
  background-color: #d7caca;
}

kendo-card-header {
  height: 25px;
  background-color: #E23328;
  color: white;
  font-size: 14px;
  font-weight: bold
}

.k-card {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  display: inline-table;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 17px;
}

.k-listview {
  font-family: sans-serif;
  height: 711px;
}

.product {
  width: 100%;
}

.header {
  display: flex;
  padding: 7px;
  background-color: #E23328;
}

.title {
  flex: 1;
  font-size: 17px;
  color: white;
  margin-left: 9px;

}

.product {
  width: 90%;
  display: flex;
  align-items: center;


}

.description {
  flex: 1;
}

.category-name {
  font-size: 12px;
}

.product-name {
  font-size: 16px;
}

.product-name,
.price {
  height: auto;
}

.product {
  padding-left: 15px;
  padding-top: 6px;
}

.section {
  margin-top: 20px;
  align-content: flex-end;
}

.wrap {
  padding: 7px 0px 7px 0px;
}

.k-label {
  margin: 8px;
}

.Searchbox {
  background-color: white;
  height: 30px;
  padding-left: 5px;
  border-radius: 3px;
}
