<div *ngIf="!windowOpened">
    <kendo-card [width]="'100%'">
        <kendo-card-body>
            <div class="card-Header-bm">
                <div class="row-bm">
                    <!--div class="cols-bm">
                        <p kendoCardTitle style="padding-top: 4px; margin-bottom: 4px;">{{pageTitle}}</p>
                    </div---->
               

                </div>
            </div>
            <div class="bm-dashboard-container">
                <div class="bm-dashboard-item rouded-corner">
                    <div class="header">
                        <div class="heading">
                            CR Status
                        </div>
                        <div class="controls-heading">
                            <kendo-buttongroup>
                                <button kendoButton icon="clock">Today</button>
                                <button kendoButton icon="calendar" (click)="open('window',1)">View
                                    From</button>
                            </kendo-buttongroup>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="content">
                            <fusioncharts [chartConfig]=caseStatsChartConfig [dataSource]=datasourceCasestatisstics>
                            </fusioncharts>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="bm-dashboard-container">
                <div class="bm-dashboard-item rouded-corner">
                    <div class="header">
                        <div class="heading">
                          CR Statistics
                        </div>
                        <div class="controls-heading">
                            <kendo-buttongroup>
                                <button kendoButton icon="clock">Current Week</button>
                                <button kendoButton icon ="calendar" (click)="open('window',2)"> View Form</button>
                            </kendo-buttongroup>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="content">
                            <fusioncharts [chartConfig]=routingPortalChartConfig [dataSource]=datasourceRoutingPortal>
                            </fusioncharts>
                        </div>
                    </div>
                </div>
                <div class="bm-dashboard-item rouded-corner">
                    <div class="header">
                        <div class="heading">Expired CR's</div>
                       </div>
                    <div class="card-body">
                        <div class="content">
                            <div><button kendoButton [look]="'flat'" class="big-int" >
                                    {{ mystar[0].count }}
                                </button></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="chip-bm">
                            <div class="legend" *ngFor="let item of mystar">{{item.ExcptionType}}
                                <span>{{item.count}}</span></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </kendo-card-body>
    </kendo-card>
</div>
<div *ngIf="windowOpened">
    <app-case-statistics *ngIf="viewflag===1" (onClose)="close('window')"></app-case-statistics>
    <app-routing-portal-statistics *ngIf="viewflag===2" (onClose)="close('window')"></app-routing-portal-statistics>
    <app-case-ready-for-action *ngIf="viewflag===3" (onClose)="close('window')"></app-case-ready-for-action>
</div>

<!-- <kendo-window *ngIf="windowOpened" style="position: fixed;border: solid;border-color:#F23428 ;" (close)="close('window')" [minWidth]="250" [width]="1200" [height]="700">
    <app-case-statistics *ngIf="viewflag===1"></app-case-statistics>
    <app-routing-portal-statistics *ngIf="viewflag===2"></app-routing-portal-statistics>
    <app-case-ready-for-action *ngIf="viewflag===3"></app-case-ready-for-action>
</kendo-window> -->