kendo-card-header {  
    font-size: 16px;
    font-family: roboto,sans-serif,arial;
    padding: 5px;
    color: #171a19;
    }
.labels {
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    color: #171a19;
    margin-top: -4px;
    position: relative;
    top: 9px;
    left: 21px;
}

button[kendoGridExcelCommand] {
    border-color: #F23428;
    border-width: 3px;
    position: relative;
    left: 80%;
    color: #189514;
}

.spanwidth {
    margin-right: 45px;
}

.boxShadow {
    box-shadow: 4px 4px 4px rgb(179, 178, 178);
}

.tktProcessed {
    width: 493px;
    height: 280px;
    background-color: #F2F2F2;
}

.toggleButtons {
    float: right;
    position: relative;
    margin-right: 10px;
    margin-top: 7px;
}

.vbutton {
    font-weight: bold;
    font-size: 12px;
    width: 89px;
    text-transform: none;
}

.tbutton {
    background-color: #d5dbd2;
    font-weight: bold;
    font-size: 12px;
    width: 89px;
    text-transform: none;
}

.casesReady {
    background-color: #F2F2F2;
    font-family: Arial;
    text-align: center;
    margin-top: 1%;
    font-size: 40px;
    font-weight: normal;
    margin-top: 28px;
}

.footer {
    font-family: Arial;
    font-size: 16px;
    background-color: #F2F2F2;
    margin-top: 5px;
    color: #51625c;
    margin-left: 0px;
    width: 93%;
}

.casesReady button {
    height: 180px;
    width: 100%;
    background-color: #dad2e300;
    font-size: larger;
    color: #625d57;
    box-shadow: none;
}


.main-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    flex-wrap: wrap;
}



.cols-2{
    width: 50%;
    padding: 2%;
    box-sizing: border-box;
}

.header-graph{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1rem;
    padding: 5px 5px;
}

.graph-box{
    background: linear-gradient(to right bottom, rgb(255, 0, 56),  rgb(44, 0, 56));
    transition: all 2s ease-out 100ms;
}

.graph-box:hover{
    box-shadow: 0px 0px 0px 10px grey;  
}

.big-int{
    font-size: 5rem;
    font-weight: bold;
    line-height: 6rem;
}