
<kendo-card-body>
    <div class="card-Header-bm">
        <div class="row-bm">
          <div class="cols-bm">
            <p kendoCardTitle style="padding-top: 4px; margin-bottom: 4px;">{{pageTitle}}</p>
        </div>
          <div class="cols-bm"><button kendoButton [look]="'default'"  icon="arrow-left"   style="background: #F23428; color: white; margin-right: 20px;"
            (click)="goBack()">Back</button>
            Export  &nbsp;&nbsp;<button kendoButton icon="excel"[name]="'file-excel'" style="background: darkgreen; color: #fff; "></button>
                         <button kendoButton icon="pdf" style="background: #F23428; color: #fff; margin-left: 5px;"></button> 
          </div>
        </div>
      </div>

      <!--Search Controls-->
      <!--Search Controls-->
      <!--Chart-->
      <!--Chart-->
      <!--Kendo Grid-->
     <!--  <kendo-grid [data]="gridView" [pageSize]="pageSize" [skip]="skip" [pageable]="true" [height]="windowHeight"
       (pageChange)="pageChange($event)"
       > -->
       <kendo-grid [data]="gridView" (pageChange)="pageChange($event)" [pageSize]="pageSize" [skip]="skip" [pageable]="true" [height]="windowHeight" >
        <kendo-grid-column [headerStyle]="headerstyle" field="FeedbackId" title="Feedback Id" width="120">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="headerstyle" field="CIFNo." title="CIF No.">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="headerstyle" field="CustomerName" title="Customer Name">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="headerstyle" field="RegistrationDate" title="Registration Date">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="headerstyle" field="CardNo" title="Card No.">
        </kendo-grid-column>
        <kendo-grid-column [headerStyle]="headerstyle" field="Status" title="Status">
        </kendo-grid-column>
    </kendo-grid>
      <!--Kendo Grid-->

</kendo-card-body>