
.boxShadow{
    box-shadow: 4px 4px 4px rgb(179, 178, 178);
}

kendo-card-header {
    border-bottom: solid;
    border-bottom-color: #F23428;
    border-bottom-width: 10px;    
    font-size: 16px;
    color: #686363;
    margin-top: -22px;
   
  }
  .spanwidth{
    margin-left: 20px;
  }


  .Excel-Button{
    color: green;
    margin:3px;
     width: 112px;
     border: solid;       
     border-color: #F23428;
     height: 40px;
     font-weight: bold;
     border-radius: 15px;
     text-transform: none;
  }
  .PDF-Button{
    color: #F23428;  
    margin:3px;
    width: 112px;
    border: solid;       
    border-color: #F23428;
    height: 40px;
    font-weight: bold;
    border-radius: 15px;
    text-transform: none;
  }
  .k-icon-md {
    font-size: 26px;
  }