<table style="width: 100%;">
    <tr>
        <td style="width: 33%;"></td>
        <td  style="width: 33%;">
            <kendo-card [width]="'360px'">
                <kendo-card-header class="k-hbox">                   
                    <div>
                        <h1 kendoCardTitle>Error</h1>                       
                    </div>
                </kendo-card-header>
                <img [src]="cover" height="" kendoCardMedia alt="cover_img">
                <kendo-card-body>                   
                    <hr kendoCardSeparator>
                    <p>Sorry..User has no access to the page. </p>
                </kendo-card-body>
            </kendo-card>
        </td>
        <td></td>
    </tr>
</table>
