.logo-img {
  height: 35px;
  margin: 5px;
 /*  margin-left: -35px; */
  }
  .k-appbar{
    background-image: linear-gradient(to right,rgba(238,52,35,1),rgb(238, 80, 66));
    background-size: 100% 100%;
    padding: 0 10px;
    }
    
    ul {
    font-size: 14px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    }
    li {
    margin: 0px 5px;
    color: #fff;
    
    }
    li svg{
    color: #fff;
    }
    li:hover {
    
    color: #fff;
    }
    .k-icon{
    color: #fff;
    }