<form [formGroup]="countryForm" (ngSubmit)="SubmitForm()">
    <kendo-card [width]="'100%'">
    <kendo-card-body>
    
            <div class="flex-container-bm">
                <div class="flex-item-bm">
                    <div class="row-bm">
                        <div class="cols-bm">
                            <label for="name">Country Code:</label>
                        </div>
                        <div class="cols-bm">
                            <kendo-textbox class="controls-bm width50" formControlName="name"></kendo-textbox>
                        </div>
                    </div>
                    <div class="row-bm">
                        <div class="cols-bm">
                            <label for="value">Country Name:</label>
                        </div>
                        <div class="cols-bm">
                            <kendo-textbox class="controls-bm width50" formControlName="value"></kendo-textbox>
                        </div>
                    </div>
                    <div class="row-bm">
                        <div class="cols-bm">
                            <label for="description">Country Short Name:</label>
                        </div>
                        <div class="cols-bm">
                            <kendo-textarea class="controls-bm width50" formControlName="description" [rows]="'5'"></kendo-textarea>
                        </div>
                    </div>

                </div>
            </div>
    
    </kendo-card-body>
    <kendo-card-footer>
        <div class="flex-container-bm">
            <div class="flex-item-bm">
                <div class="row-bm">
                    <div class="cols-bm">
                        <button kendoButton [look]="'default'" style="background: #F23428;color: white;margin: 3px" type="submit" [disabled]="!countryForm.valid">Submit</button>
                        <button kendoButton [look]="'default'"  style="background: #7F7F7F;color: white;margin: 3px" type="reset" (click)="resetForm()">Reset</button></div>
                </div>
            </div>
        </div>
    </kendo-card-footer>
</kendo-card>
</form>