<div *ngIf="Message.length||ErrorMessage.length">
    <h3 class="k-text-success k-text-center" *ngIf="Message.length">{{Message}}</h3>
    <h3 class="k-text-error k-text-center" *ngIf="ErrorMessage.length">{{ErrorMessage}}</h3>
</div>
<form [formGroup]="countryForm" (ngSubmit)="SubmitForm()">   
   
    <kendo-card [width]="'100%'">
    <kendo-card-body>
  
            <div class="flex-container-bm">
                <input type="hidden" formControlName="countryId">
                <div class="flex-item-bm">
                    <div class="row-bm">
                        <div class="cols-bm">
                            <label for="countryCode">Country Code:</label>
                        </div>
                        <div class="cols-bm">
                            <kendo-textbox class="controls-bm width50" formControlName="countryCode"></kendo-textbox>
                        </div>
                    </div>
                    <div class="row-bm">
                        <div class="cols-bm">
                            <label for="countryName">Country Name:</label>
                        </div>
                        <div class="cols-bm">
                            <kendo-textbox class="controls-bm width50" formControlName="countryName"></kendo-textbox>
                        </div>
                    </div>
                    <div class="row-bm">
                        <div class="cols-bm">
                            <label for="countryShortName">Country Short Name:</label>
                        </div>
                        <div class="cols-bm">
                            <kendo-textarea class="controls-bm width50" formControlName="countryShortName" [rows]="'5'"></kendo-textarea>
                        </div>
                    </div>

                </div>
            </div>
    
    </kendo-card-body>
    <kendo-card-footer>
        <div class="flex-container-bm">
            <div class="flex-item-bm">
                <div class="row-bm">
                    <div class="cols-bm">
                        <button kendoButton [look]="'default'" style="background: #F23428;color: white;margin: 3px" type="submit" [disabled]="!countryForm.valid">Submit</button>
                        <button kendoButton [look]="'default'"  style="background: #7F7F7F;color: white;margin: 3px" type="reset" [disabled]="disableReset" (click)="resetForm()">Reset</button></div>
                </div>
            </div>
        </div>
    </kendo-card-footer>
</kendo-card>
</form>