


body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
    .k-grid th, .k-grid td {
      padding: 2px;
      font-size:12px;
      text-align : center;
  }
  
  .k-grid th{
    border-right-style: solid;
    border-right-width: 0.5px;
    border-color: white;
     padding: 8px 12px;
     white-space: nowrap;
     text-align: center;
    
  }

.k-grid th:hover{
    opacity: 0.9;
}

.k-grid th .k-icon{
  color: rgba(255, 255, 255, 0.8);
  font-size: inherit
}

.k-cell-inner>.k-link{
  padding: 8px 12px;
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1;
    overflow: hidden;
    justify-content: center;
}

.flex-container-bm {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 3px;
   
    line-height: 35px;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
  }
  
  .flex-item-bm {
    
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 2px;
  }
  .card-Header-bm{
  margin-top: -10px;
  border-bottom: 1px solid #eee7de;
  padding-bottom: 5px;
  }
  
  .row-bm{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  }
  .cols-bm{
  box-sizing: border-box;
  margin-right: 5px;
  }
  .controls-bm{
    max-width: 250px;
    border: 1px solid #999;
    border-radius: 3px;
    box-sizing: border-box;
  }
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
 .flex-item-bm {
    flex: 100%;
  }
  .cols-bm{
    flex:100%;
  }
  }
  

  /* .k-group-cell{
    background: #0D274D;
  } */


  
  .bm-dashboard-container{
    
    flex-basis: 100%;
   font-size:12px;
    display: flex;
    box-sizing: border-box;
  }
  
  .bm-dashboard-item{
    margin:5px;
    line-height:1.5em;
    border:1px solid #fff;
    flex-basis: 50%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
   .rouded-corner{
    border-radius: 3px;
    transition: all .8s;
    background-image: linear-gradient(to right bottom,#f2f2f2,rgb(255, 255, 255));
    border: 1px solid #f2f2f2;
  }
  .bm-dashboard-item.rouded-corner:hover{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  background-image: linear-gradient(to right bottom,rgb(255, 255, 255), #f2f2f2);
  }
  
  .bm-dashboard-item .header{
    padding: 10px;
    display:flex;
    justify-content: space-between;
  }
  .bm-dashboard-item .header .heading{
   font-size: 1.2em;
   line-height: 1.6em;

  }
  .bm-dashboard-item .card-body{
    padding: 15px;
    display: flex;
    align-items: center;
    text-align:center;
    align-self: stretch;
    justify-content: center;
    
  }
  .bm-dashboard-item .card-body .content{
   width: 100%;
  }
  .bm-dashboard-item .card-footer{
    padding: 5px;
    display:flex;
    justify-content: center;
    
  }

  .fusioncharts-container  {
   max-width: 100%;
   width: 100%;
   transition: all .2s;
}

.fusioncharts-container svg{
  max-width: 100% !important;
  background: transparent;
  transition: all .2s;
  background-color: transparent !important;
}

.chip-bm{
  margin: 10px;
 display: flex;
}
.chip-bm .legend{
  margin: 5px;
  border: 1px solid #bbb;
  border-radius: 50px;
  line-height: 25px;
  padding-left:10px ;
}
.chip-bm .legend span{
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
}

.chart-content{
  width: 100%;
}

.status-container{
  flex-direction: column;
 justify-content: space-evenly;
}

.status-progress{
  font-size: 1rem;
  line-height: 1.8rem;
  flex-basis: 100%;
  border-bottom: 1px solid #f2f2f2;
  text-align: left;
  padding: 5px 0px;
}

.status-progress  span{
  height: 25px;
  border-radius: 3px;
  text-align: center;

  line-height: 25px;
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
  border: 1px solid #bbb;
  padding: 0 20px;
}


.status{
  display: flex;
  flex-wrap:wrap;
  text-align: left;
}
.status-items{
  padding: 10px;
  flex-grow: 1;
  align-self: stretch;
}
.status-big-text{
  font-size: 2rem;
  font-weight: bold;
  margin-top:10px;
}

.k-text-tertiary{
  color: #0D274D
}



.bm-user{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #F23428;
  border-radius: 100px;
  line-height: 25px;
  color: #fff;
  background: rgba(0,0,0,0.2);
 
  max-width: 250px
}
.bm-user .username{
  margin: 0px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
  font-size: .8rem;
  max-width: 100px;
}
.bm-user .icon{
  width: 25px;
  height: 25px;
  background: rgba(0,0,0,0.4);
  color: #fff;
  border-radius: 100px;
  font-size: .8rem;
  text-align:center;
}
 .bm-user .logout{
  
  height: 25px;
  background: rgba(255,0,0,0.9);
  color: #fff;
  border-radius: 100px;
  font-size: .8rem;
  text-align:center;
  padding: 0 10px;;
  transition: all 0.3s;
}
.bm-user .logout:hover{
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.9);
}

.alert-error{
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  width: 50%;
  margin: 20px auto;
}

.alert-error h6{
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
  margin: 10px auto;
  width: 80%;
}